<% title(TITLE, false) if params["commit"] != "search"%>
<% title("#{@search_keywords} search results :: #{TITLE}", false) if params["commit"] == "search"%>


<style type="text/css">
	.search-form-before {
		padding:10px;
		margin-top:100px;
	}
	
	.search-form-before form {
		margin: 0 auto;		
		width: 50%;
	}
	
	.search-form-after {
		
	}
</style>

<% search_style = (params[:commit] ? "search-form-after" : "search-form-before")%>
<% if params[:commit] == "search" %>
	<div id="addthis" class="addthis-widget" style="float:right;">	
		<%= render(:partial => "layouts/addthis_widget", :locals => {:title => "ClaimVille", :description=>"Via ClaimVille"})%>
		<script type="text/javascript">
			var addthis_share = {
  				templates: { twitter: 'check out {{title}} @ {{url}}' }
			}
		</script>
	</div>
<% end%>
<div id='search-form-body' class="<%= search_style%>">
	<%= form_tag search_path, :method => :get do %>
		<p>
			<%= text_field_tag :search, (params[:search]||@search_keywords), :style => 'width:450px;' %>&nbsp;&nbsp;<%= submit_tag :search, :id => 'btn_search'%><br>
			<span style="font-size:11px;"><%= link_to "Advanced search", advance_search_path %></span>
  		</p>
		<%= hidden_field_tag :search_type, (params[:search_type] || "normal")%>
	<% end%>
</div>
<div class="clear"></div>
<% if !@claim_mains.empty?%>
	<div class="hr-line"></div>	
	<div id="search-results">
		<div style="padding: 2px 3px;margin: 5px 0;text-align:right;">
			<%=raw page_entries_info @claim_mains, :entry_name => 'results' %>	
		</div>		
		<table class="search-results" cellpadding="5px;">
			<tr class="table-header">				
				<td>Last Name</td>
				<td>First Name</td>
				<td>City</td>
				<td>State</td>
				<td>View Details</td>				
			</tr>		
			<% for claim_main in @claim_mains %>
			<tr>				
				<td><%= claim_main.lastname%></td>
				<td><%= claim_main.firstname%></td>
				<td><%= claim_main.city%></td>
				<td><%= claim_main.state%></td>
				<td align="center"><%= link_to "View", claim_main_path(:id=>claim_main.id, :provider=>params[:provider], :uid => params[:uid], :screen_name => params[:screen_name], :tracker_user_id => (current_user||'') )%></td>
			</tr>
			<% end%>
		</table>
		<div class="paginate-wrapper">
			<%= will_paginate @claim_mains %>
		</div>		
	</div>	
<% elsif !params[:commit].blank?%>
	<div class="no-results">
		No results found. Please search different name
	</div>		
<% end%>

<script type="text/javascript">
	$(function(){
		$('#btn_search').click(function(e){
			$('#search_type').val('normal')
		});				
	})
</script>
