<% title "Search Friends :: #{TITLE}" if params[:provider].blank?%>
<% title "Search Friends of Facebook :: #{TITLE}" if params[:provider] == 'facebook'%>
<% title "Search Friends of Twitter :: #{TITLE}" if params[:provider] == 'twitter'%>
<% title "Search Friends of Gmail :: #{TITLE}" if params[:provider] == 'gmail'%>

<% javascript('/javascripts/jquery.validate.js')%>

<% provider = params[:provider]%>

<div id="get-social-friends">	
	<div style="margin-bottom:5px;">
		<%= link_to "Friends on Facebook", user_friends_friends_path(:provider=>"facebook"), {:id => "get_link_ff", :class=>"get-link"}%> |		
		<%= link_to "Followers on Twitter", user_friends_friends_path(:provider=>"twitter"), {:id => "get_link_tf", :class=>"get-link"}%> | 
		<%= link_to "Contacts in Gmail", user_friends_friends_path(:provider=>"gmail"), {:id => "get_link_gc", :class=>"get-link"}%>
	</div>	
	
	<% if provider == "facebook"%>
		<div id="div_ff">		
			<%= link_to 'Search Facebook friends', get_facebook_friends_friends_path(:target_page => "user_friends"), {:title => "Click here to get facebook friends"} %>
		</div>		
	<% elsif provider == "twitter" %>
		<div id="div_tf">
			<%= link_to 'Search Twitter followers', get_twitter_followers_friends_path(:target_page => "user_friends")%>		
		</div>	
	<% elsif provider == "gmail"%>
		<div id="div_gc">
			<div style="margin-top:10px;">
				<fieldset>
					<%= form_tag get_contacts_friends_path, :id=>'gmail_login_form', :method => :post do%>
						<p>
							<%= label_tag :username %><br />
							<%= text_field_tag :username, '', {:class => "required email"} %>
			  			</p>
						<p>
							<%= label_tag :password %><br />
							<%= password_field_tag :password, '', {:class => "required"} %>
			  			</p>
						<%= hidden_field_tag :target_page, "user_friends"%>
						<P>
							<%= submit_tag "Search Gmail Contacts"%>
						</P>
					<% end%>
				</fieldset>
			</div>
		</div>	
	<% end%>		
	
	<% if @search_friends.empty? %>
		<div style="text-align:center;padding:10px;margin-top:20px;">
			Click on "Friends on Facebook/Followers on Twitter/Contacts in Gmail" to search your friends here.
		</div>	
	<% else%>
		<div style="margin-top:5px;">
			<table class="search-results" cellpadding="5px">
				<tr class="table-header">
					<td>Name</td>
					<td>View Results</td>
				</tr>
				<% for search_friend in @search_friends %>
				<tr>				
					<td><%= search_friend[:name]%></td>
					<td align="center"><%= link_to "View Results", search_path(:search=>search_friend[:name], :search_type=>"normal", :commit=> "search", :provider=>search_friend[:provider], :uid=>search_friend[:uid], :screen_name=>search_friend[:screen_name])%></td>
				</tr>
				<% end%>
			</table>
		</div>
	<% end%>	
</div>

<script type="text/javascript">
	$(function(){
		$('#gmail_login_form').validate();
		
		$("tr:odd").addClass("odd");		
	})
</script>
