<% title "Details of #{@claim_main.lastname} #{@claim_main.firstname} :: #{TITLE}"%>

<style type="text/css">
	.tb-bold {
		font-weight: bold;
	}
	
	.fancybox-text {
		font-size: 24px;
		padding: 10px;
	}
</style>

<% title = "Details of #{@claim_main.lastname}"%>
<% title = "I found $#{@claim_main.dollars_remitted.to_f} on ClaimVille.com. Find you missing money" if !@claim_amount.nil? && @claim_amount.user_id == current_user.id%>
<% title = "I found $#{@claim_main.dollars_remitted.to_f} on ClaimVille.com for #{@claim_main.lastname}" if @claim_amount.nil?%>

<div id="addthis" class="addthis-widget">	
	<%= render(:partial => "layouts/addthis_widget", :locals=>{:title=>title, :description => ""})%>	
</div>

<% tracker_user_id=params[:tracker_user_id]%>
<div style="float:left;">
	<% if !@claim_amount.nil?%>
		<div style="padding:10px;border: 1px solid #000000;margin-bottom:10px;background-color: #FCC;">This amount is already claimed.</div>
	<% end%>	
	<table cellpadding="3px;" cellspacing="5px;">
		<tr>
			<td class="tb-bold">Last Name </td><td>: <%= @claim_main.lastname%> </td>
		</tr>
		<tr>
			<td class="tb-bold">First Name </td><td>: <%= @claim_main.firstname%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Address 1 </td><td>: <%= @claim_main.address1%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Address 2 </td><td>: <%= @claim_main.address2%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Address 3 </td><td>: <%= @claim_main.address3%> </td>
		</tr>
		<tr>
			<td class="tb-bold">City </td><td>: <%= @claim_main.city%> </td>
		</tr>
		<tr>
			<td class="tb-bold">State </td><td>: <%= @claim_main.state%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Zip Code</td><td>: <%= @claim_main.zip%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Tax ID </td><td>: <%= @claim_main.tax_id%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Division </td><td>: <%= @claim_main.division%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Report Year </td><td>: <%= @claim_main.h_report_year%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Property Type </td><td>: <%= @claim_main.property_type%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Property Sequence</td><td>: <%= @claim_main.property_seq%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Owners Flag </td><td>: <%= @claim_main.owners_flag%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Beginning Transaction Date </td><td>: <%= @claim_main.last_trans_date%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Ending Transaction Date </td><td>: <%= @claim_main.ending_trans_date%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Dollar Amount Remitted </td><td>: $<%= @claim_main.dollars_remitted.to_f%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Number of Shares Remitted </td><td>: <%= @claim_main.share_remited%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Report Date </td><td>: <%= @claim_main.report_date%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Name </td><td>: <%= @claim_main.h_firstname%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Address Line 1 </td><td>: <%= @claim_main.h_address1%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Address Line 2 </td><td>: <%= @claim_main.h_address2%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Address Line 3 </td><td>: <%= @claim_main.h_address3%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder City </td><td>: <%= @claim_main.h_city%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder State </td><td>: <%= @claim_main.h_state%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Holder Zip Code </td><td>: <%= @claim_main.h_zip%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Added Date </td><td>: <%= @claim_main.add_date%> </td>
		</tr>
		<tr>
			<td class="tb-bold">Updated Date </td><td>: <%= @claim_main.update_date%> </td>
		</tr>
	</table>	
</div>
<div style="float:right;text-align:center;font-size:2em;font-weight:bold;">	
	<div style="position:relative;top:100px;left:-150px;">
		<%= link_to "Claim It", '#container', {:id => 'claim_it', :style=>"text-decoration:none;"}%><br><br>
		<%= link_to "Email to friend", email_to_friend_claim_main_path(:id=>@claim_main.id),{:style=>"text-decoration:none;"}%><br><br>
		<%= link_to "Share on Facebook", send_to_facebook_claim_main_path(:id => @claim_main.id, :uid=> params['uid'], :name => @claim_main.lastname.strip + ' ' + @claim_main.firstname.strip), {:style=>"text-decoration:none;"}%><br><br>
		<div class="twitter-link">			
			<% if current_user %>
				<% twitter_share = ClaimMain.twitter_share({:id => params[:id], :screen_name => params[:screen_name], :tracker_user_id => current_user.id, :name => @claim_main.lastname.strip + ' ' + @claim_main.firstname.strip})%>
				<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= twitter_share%>" data-count="none">Share on Twitter</a>
				<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			<% else %>
				<%= link_to "Share on Twitter", '#twitter_link', {:id=>'twitter_link', :style=>"text-decoration:none;"}%>
			<% end%>	
		</div>	
		
		<% claim_link = claim_it_claim_main_path(:id=>@claim_main.id, :tracker_user_id => tracker_user_id, :provider => params[:provider], :uid => params[:uid], :screen_name => params[:screen_name])%>		
	</div>	
</div>
<div class="clear"></div>

<script type="text/javascript">
	var is_login = '<%= is_user_login%>';
	var is_claimed = '<%= !@claim_amount.nil?%>';
	$(function(){
		$('a#claim_it').click(function(e){
			if(is_claimed == 'true') {
				$('a#claim_it').attr('title', 'This amount is already claimed.');
				$.fancybox({
					content: '<div class="fancybox-text">This amount is already claimed</div>',
					showCloseButton: false
				});
				e.preventDefault();
				return false;
			}
			if(is_login == 'false') {
				$.fancybox({
					content: '<div class="fancybox-text">Please <a href="/user_sessions/new">Login</a> or <a href="/users/new">Register</a> to Claim</div>',
					showCloseButton: false});
			} else {
				$.fancybox({					
					href: "<%= claim_link%>"
				});
			}
		});	
		
		$('a#twitter_link').click(function(e){
			if(is_login == 'false') {
				$.fancybox({
					content: '<div class="fancybox-text">Please <a href="/user_sessions/new">Login</a> or <a href="/users/new">Register</a> to Claim</div>',
					showCloseButton: false					
				});
			} else {
				
			}
		});		
	});
	
	var addthis_share = {
		templates: { twitter: "Check out {{title}} @ {{url}} via @ClaimVille" }
	};	
</script>